<p>
    <a href="#" id="dt_reset" class="btn float-right"><i class="fa fa-refresh"></i> Reset filters</a>
    <a asp-action="Create" class="btn"><i class="fa fa-plus-square"></i> Create New</a>
</p>
<table class="dt" style="width:100%"></table>
