<div id="localfooter" class="flex-row no-print fixed-bottom z-index-4 full-width small pad-tight paper">
    <span>
        &copy; 2017 <a href="https://fais.wp.wsu.edu/">
            <span class="display-none-at-996">Finance &amp; Administration Information Systems</span><span class="display-none
    display-inline-at-996">FAIS</span>
        </a>
    </span>
    <address class="margin-no flex-row kids-pad-airy-l display-none-at-480">
        <span>
            <span class="display-none-at-996">Washington State University</span><span class="display-none display-inline-at-996">WSU</span> , PO Box 645910, Pullman, WA, 99164<span class="display-none-at-996">-5910 USA</span>
        </span>
        <span>
            <span class="display-none-at-996"> ph:</span> 509-335-FAIS<span class="display-none-at-996"> (5-3247)</span>
        </span>
    </address>
    <a href="mailto:fais@wsu.edu">Contact Us</a>
</div>
