@using Microsoft.AspNetCore.Identity
@using <%= namespace %>.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User) && null != user)
{

    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="btns no-pad margin-no" role="group" aria-label="First group">
        <a asp-area="" asp-controller="Account" asp-action="Profile" title="Manage" class="btn"><span class="display-none-at-667">Hello @*@user.FullName!*@</span><span class="display-none display-inline-at-667">Profile</span></a>
        <button type="submit" class="btn">Log off</button>
    </form>
}
else
{

    <div class="btns pad-airy-r" role="group" aria-label="First group">
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn">Register</a>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn">Log in</a>
    </div>
}
