<span id="close-nav">Close</span>
<nav id="spine-sitenav" class="spine-sitenav">
    <div>
        <ul>
            <li><a href="/labsafetysigns/create">Create Sign</a></li>
            <li><a href="/labsafetysigns/index">List Signs</a></li>
            @* <li><a href="/home/comp">Create Sign</a></li>
    <li >
        <a href="https://fais.wp.wsu.edu/docs/">Docs</a>
        <ul>
            <li>
                <a href="https://fais.wp.wsu.edu/docs/fa-theme/">F&amp;A theme</a>
                <ul>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/ada-autostyler/">ADA Autostyler</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/colors/">colors</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/default-basic-elements/">Default Basic Elements</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/full-typography-samplings/">Full Typography samplings</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/grids/">Grids</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/icons/">Icons</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/lables/">Lables</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/padding/">Padding</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/thumbnails-tile-media-blocks/">Thumbnails and tile media blocks</a></li>
                    <li><a href="https://fais.wp.wsu.edu/docs/fa-theme/ui-extras/">UI Extras</a></li>
                </ul>
            </li>
            <li>
                <a href="https://fais.wp.wsu.edu/docs/magento/">Magento</a>
                <ul>
                    <li>
                        <a href="https://fais.wp.wsu.edu/docs/magento/editing/">Editing</a>
                        <ul>
                            <li><a href="https://fais.wp.wsu.edu/docs/magento/editing/working-admin-grids/">Working with admin grids</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://fais.wp.wsu.edu/docs/wordpress/">WordPress</a>
                <ul>
                    <li>
                        <a href="https://fais.wp.wsu.edu/docs/wordpress/editing/">Editing</a>
                        <ul>
                            <li class="overview"><a href="https://fais.wp.wsu.edu/docs/wordpress/editing/">Overview</a></li>
                            <li><a href="https://fais.wp.wsu.edu/docs/wordpress/editing/create-pages-banner/">Create a page’s banner</a></li>
                            <li><a href="https://fais.wp.wsu.edu/docs/wordpress/editing/create-edit-contact-cards/">Create and Edit Contact Cards</a></li>
                            <li>
                                <a href="https://fais.wp.wsu.edu/docs/wordpress/editing/department-specific/">Department specific</a>
                                <ul>
                                    <li><a href="https://fais.wp.wsu.edu/docs/wordpress/editing/department-specific/police-specific-edits/">Police specific edits</a></li>
                                </ul>
                            </li>
                            <li><a href="https://fais.wp.wsu.edu/docs/wordpress/editing/editing-with-tinymce/">Editing with TinyMCE</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="https://fais.wp.wsu.edu/intake/">Intake</a></li>
    <li><a href="https://fais.wp.wsu.edu/general-news/">News</a></li>
    <li><a href="https://fais.wp.wsu.edu/">Welcome to the WSU Web</a></li>*@
        </ul>
    </div>
</nav>
