@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
    <h4>Reset your password.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="pad-tight-b flex-row">
        <label asp-for="Email" class="tenths-3 control-label"></label>
        <div class="tenths-7">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="pad-tight-b flex-row">
        <label asp-for="Password" class="tenths-3 control-label"></label>
        <div class="tenths-7">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="pad-tight-b flex-row">
        <label asp-for="ConfirmPassword" class="tenths-3 control-label"></label>
        <div class="tenths-7">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="pad-tight-b flex-row">
        <div class="offset-tenths-3-l tenths-7">
            <button type="submit" class="btn">Reset</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
